.my-16{
    margin-top: $space-base * 2px;
    margin-bottom: $space-base * 2px;
}

.mt-32 {
    margin-top: $space-base * 4px;
}

.mt-16 {
    margin-top: $space-base * 2px;
}

.mpl-8{
    margin-left: $space-base * 1px;
}

.mpr-8{
    margin-right: $space-base * 1px;
}

.mpb-8{
    margin-bottom: $space-base * 1px;
}

.mpb-16{
    margin-bottom: $space-base * 2px;
}