.header {
    position: fixed;
    height: 56px;
    border: $border;
    width: 100%;
    padding: 0 12px;
    background: $backColor;
    z-index: 3;

    .logo{
        float: left;
        display: flex;
        margin: 10px 0;
        h1{
            margin: 0 8px;
        }
    }

    .content {
        float: right;
        
        *{
            margin: 10px 8px;
        }
        .buscador{
            width: 380px;
            margin: 6px 16px !important;
            height: 40px;
        }
    }

    .logo, .content {

        img{
            width: 32px;
            height: 32px;
            object-fit: cover;
        }
    }

}

.nav{
    position: fixed;
    width: min-content;
    height: 100%;
    padding: 16px 20px;
    border: $border;
    border-top: none;
    top: 56px;
    background: $backColor;
    z-index: 3;
    ul{
        li{
            margin-bottom: 40px;
        }
    }
} 

@include mobile {
    .nav{
        top: initial;
        height: 56px;
        bottom: 0;
        border-top: $border;
        width: 100%;
        padding: 12px 0;
        
        ul {
            display: flex; 
            li{
                margin: auto;
            }
        }
    }
}

.configurationMenu {
    overflow-y: auto;
    max-height: 85%;
    border-radius: $space-base * 1px;
    position: fixed;
    width: 320px;
    right: 8px;
    background: $backColor;
    border: $border;
    top: $space-base * 7px;
    margin-top: $space-base * 1px;
    color: $color2;
    box-shadow: $modal-shadow;
    li {
        border-top: $border;
        padding: ($space-base * 3px) ($space-base * 2 - 4px);

        &:first-child {
            border-top: none;
        }
        a {
            margin: initial !important;
        }
    }

}


