* {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color          : $color2;
    cursor         : pointer;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.vh100 {
    height: 100vh !important;
}

.container-page {
    padding-left: 20*2 + 32px + 16px;
    padding-top : $space-base*7px;
    width       : 100%;

    > .row > * {
        padding-top: $space-base * 2px;
        padding-bottom: $space-base * 2px;
    }
}

@include mobile {
    .container-page {
        padding: $space-base* 7px $space-base * 1px;
    }
}

.etiqueta {
    background-color: $color1;
    padding         : 4px 8px;
    color           : white;
    border-radius   : 8px;
    margin          : 0 2px;
    display         : inline-block;
}

.borders-100 {
    border-radius: 100%;
}

.noFound {
    max-width: 360px;
    text-align: center;
}