@mixin mobile {
    @media only screen and (max-width: 768px){
        @content;
    }
}

@mixin widthAvailable {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: 100%;
}