.publication{
    border: solid 1px $borders-color;
    padding: 16px 0 0 0;
    overflow: hidden;
    border-radius: 8px;

    header, p {
        padding: 0 12px;
    }

    p {
        border-bottom: solid 1px $borders-color;
        padding: {
            bottom: 12px;
        }
    }

    footer {
        border-top: solid 1px $borders-color;
        padding: 12px $space-base * 3px;
    }
}