.absolute-centered {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);

}

.flex-centered {
    display        : flex;
    flex-direction : initial;
    justify-content: center;
    align-items    : center;
}