* {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.absolute-centered {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);

}

.flex-centered {
    display        : flex;
    flex-direction: initial;
    justify-content: center;
    align-items    : center;
}

.vh100 {
    height: 100vh;
}