$borders-color: rgba(0, 0, 0, 0.2);
$border: solid 1px $borders-color;
$color1: rgba(252, 153, 33, 1);
$color2: rgba(51, 51, 51, 1);
$color3: rgba(238, 12, 32, 1);

$backColor: white;

$space-base: 8; 

$bold: 700;

$modal-shadow: 4px 4px 4px $borders-color;  
$borders-primary: solid 1px $borders-color;

//Tamaños de tipografías para la página
$desktop-48: 48px;
$desktop-32: 32px;
$desktop-24: 24px;
$mobile-title: 20px;
$mobile-subtitle: 16px;
$desktop-body: 16px;
$mobile-body: 14px;
$mobile-min: 12px;


